.button{
    margin: 20px 5px 20px 5px;
    width: 110px;
    max-width: 130px;
    height: 40px;
    background-color:purple;
    color: white;
    cursor: pointer;
    
}
.button:hover{
  background-color: rgba(128,0,128,0.85);
  transition-delay: 10ms;
  transition-duration: 50ms;
  box-shadow: 0 3px 6px rgba(128,0,128,0.5);
}